.container__product-item {
  width: 100%;
  height: 50px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 5px 5px 51px var(--red-color);
  border-radius: 17px;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: var(--text-color);
  font-size: 1.8rem;
  text-decoration: none;
  margin-top: 16px;   
}
.container__product-item:hover {
  border: 1px solid black;
  transform: scale(1.05);
  }
  /* header */
nav .content-nav li a:hover {
    color: #fff;
  }
  
.content-nav form {
  position: relative;
}

.content-nav form input {
  border: none;
  background: #fff;
  padding: 7px;
  outline: none;
  border-radius: 12px;
}

.content-nav form button {
  padding: 5px;
  border-radius: 12px;
  position: absolute;
  right: 0;
  top: 2px;
  border: none;
  outline: none;
  background: #fff;
}

/* modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 20px;
  outline: 0;

}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.modal-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 2rem;
}

h5.modal-title {
  font-size: 2.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  font-size: 2rem;
  background-color: #fff;
  color: var(--red-color);
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  margin: 0 1rem;
  padding: 12px;
  cursor: pointer;
}

#cart:hover {
  border-color: #fff;
}
/* wrapper */
.main-product {
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px #e20558;
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  margin-top: 16px;
}
.main-product:hover {
  border: 1px solid black;
  /* transform: scale(1.05); */
}
.products .no-margin {
  margin-right: 0;
}
.products .img-product {
  width: 100%;
}
.products .img-product .img-prd {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 17px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  }
  
  .content-product .content-product-h3 {
    line-height: 3rem;
    font-size: 3rem;
    color: #e30558;
  }
  

  .main-product .content-product .price {
    color: var(--text-color);
    font-weight: 700;
    margin-right: 1rem;
    vertical-align: middle;
    font-size: 2.5rem;
  }
  
  .content-product .price .money {
    vertical-align: middle;
  }
  .content-product .btn-cart {
    margin: 30px;
  }


  /* cart */
.cart-header {
    font-weight: bold;
    color: var(--text-color);
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5rem;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    display: flex;
    font-size: 2rem;
    line-height: 2rem;
  }
  
  .cart-item {
    width: 45%;
  }
  
  .cart-price {
    width: 20%;
    font-size: 2rem;
    color: #333;
  }
  
  .cart-quantity {
    width: 35%;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 2rem;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }

  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 2rem;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    border-bottom: 1px solid black;
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: var(--red-color);
    font-size: 2rem;
  }