
.wrapper{
    width: 500px;
    padding: 2rem 1rem;
    margin : 100px auto;
    background-color: #fff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0 , 0, 0.1);
}
.wrapper> h1{
    font-size: 4rem;
    color: var(--text-color);
    margin-bottom: 1.2rem;
    margin-bottom: 50px;
}
.form__container {
    display: flex;
    flex-direction: column;
    margin: 40px;
    gap: 7px;
    position: relative;
  }
  
  .form__container .label {
    font-size: 1.8rem;
    padding-left: 10px;
    position: absolute;
    top: -22px;
    left: -6px;
    transition: 0.3s;
    pointer-events: none;
  }
  
  .form__container .input {
    height: 45px;
    border: none;
    outline: none;
    padding: 0px 7px;
    font-size: 2rem;
    border-radius: 6px;
    background-color: transparent;
    box-shadow: 3px 3px 10px #e30558,
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .form__container .input:focus {
    border: 2px solid transparent;
    color: #333;
    box-shadow: 3px 3px 10px #e30558,
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px #e30558,
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  .wrapper button{
    font-size: 2rem;
    margin-top: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
  }
.terms input{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
    cursor: pointer;
}
.recover {
    margin-top: 20px;
}
.terms{
    margin-top: 10px;
    margin-bottom: 3px;
}
.terms label{
    font-size: 1.5rem;
}
.terms a{
    color: rgb(17,107,143);
    text-decoration: none;
}
.member__span {
    display: block;
    margin: 30px 0;
}
.member{
    font-size: 1.5rem;
    margin-top: 1.4rem;
    color: #636363;
}
.member  a{
    color: rgb(17,107,143);
    text-decoration: none;
    

}
.member1{
    text-align: left;
    padding: 15px;
    font-size: 1.5rem;
}
.btn1{
    margin-bottom: 0;
}
.member1__a{
    text-decoration: none;
    color: rgb(17,107,143);
    
}