
/* HEADER */
.header__logo {
    height: 100px;
} 
.header {
    display: flex;
    align-items: center;
    background-color: #fff;
   box-shadow: 0 10px 30px rgba(65, 72, 86, 0.15);
   border-radius: 15px;
   margin-top: 30px;

}
.header__list {
    display: flex;
    position: relative;
   font-weight: bold;
}
.header__item {
    padding: 12px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--red-color);
    background-color: #fff;
    cursor: pointer;
    transition: all .5s ease;
    position: relative;
    text-decoration: none;
}
.cta span {
  padding: 10px 0;
  padding-right: 15px;
}
.hover-underline-animation {
  position: relative;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #e30558;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation:before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  top: 0;
  left: 0;
  background-color: #e30558;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:before {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.line {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #c23564;
    transition: all .2s ease
}
/* header Moblie  */

.header-input {
    display: none;
}
.header-input:checked ~ .modal {
    display: block;
}
.header-input:checked ~ .nav__moblie-list {
    transform: translateX(0);
}
.header_close {
    position: absolute;
    font-size: 4rem;
    color: var(--red-color);
    width: 50px;
    top: 41px;
    right: 10%;
    display: none;
}
@keyfame fadeIn {
    to {
        opacity: 0;
    }
    from {
        opacity: 1;
    }
}
.nav__moblie-list{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-left: 0;
    background-color: var(--white-color);
    color: var(--white-color);
    margin: 0;
    transform: translateX(100%);
    transition: linear .2s;
    animation: fadeIn linear .2s;
    z-index: 1;
}
.nav__item-moblie{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.nav__item-moblie-link {
    text-align: center;
    width: 100%;
    padding-left: 10px;
    line-height: 60px;
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--red-color);
    text-decoration: none;
}
.nav__item-moblie-link:hover {
    color: var(--text-color);

}
.nav__item-moblie:hover {
    background-color: var(--white-color);
}

.nav__moblie-btn{
    font-size: 1.4rem;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 20px;
    background-color: var(--text-color);
    color: var(--white-color);
}
.nav__moblie-btn-user {
    margin-bottom: 15px;
}
.nav__moblie-btn-user i {
    padding-right: 5px;
}
.nav__moblie-btn:hover {
    background-color: var(--white-color);
    color: var(--hover-color);
}
.nav__moblie-item-close {
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 5rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--red-color);
}
/* Nav Container */
.nav__container {
    position: relative;
}
.mySlides img {
height: 100%;
width: 100%;
background-size: cover;
}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: #333;
font-weight: bold;
font-size: 5rem;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
    right: 6%;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 6%;
    border-radius: 3px 0 0 3px;
}

.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {
    opacity: .4;
}

to {
    opacity: 1;
}
}
/* Slide Container */
.slider__container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #2B2F3A, #0D0E12);
    overflow: hidden;
}
.slider__container::before{
    position: absolute;
    width: 50%;
    height: 100vh;
    content: '';
    top: 0;
    left: 0;
    background-color: #E88735;
}
.slider__container-title{
    position: absolute;
    top: 10%;
    right: 60%;
    text-align: right;
    color: #fff;
    font-size: 4.5rem;
    width: 40%;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 5px 0px #478860;
    line-height: .9em;
    transform: rotate(-5deg);
}
.slider__container-des {
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
}
.slider__container-images{
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    width: 1300px;
    height: 1300px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 1px dashed #fff5;
    outline-offset: -100px;
}
.slider__container-images .slider__container-item{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    rotate: calc(60deg * var(--i));
}
.slider__container-images .slider__container-item img{
    height: 420px;
}

.slider__container-content{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 60%;
    text-align: justify;
    width: 350px;
}
.slider__container-content h1{
    color: #E88735;
    font-size: xxx-large;
}
.slider__container-content .slider__container-item{
    display: none;
}
.slider__container-content .slider__container-item.active{
    display: block;
}
@keyframes showContent{
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
        opacity: 1;
    }
}
.slider__container-content .slider__container-item.active h1{
    opacity: 0;
    animation: showContent 0.5s ease-in-out 1 forwards;
}
.slider__container-content .slider__container-item.active .slider__container-des{
    opacity: 0;
    animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
}
.slider__container-content .slider__container-item.active button{
    opacity: 0;
    animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
}
#slidePrev,
#slideNext{
    position: absolute;
    border: none;
    top: 50%;
    left: 5%;
    font-size: 100px;
    font-family: cursive;
    background-color: transparent;
    color: #333;
    font-weight: bold;
    opacity: 0.6;
}
#slideNext{
    left: unset;
    right: 5%;
}
#slideNext:hover,
#slidePrev:hover{
    opacity: 1
}
/* PRODUCT HOT */
.product__hot-h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--red-color);
}
.product__hot {
    margin-top: 50px;
}
/* Footer */
footer {
    background-color: #fff5f5;
    /* padding-bottom: 60px; */
}
.footer_list {
    list-style: none;
    font-size: 1.4rem;
}
.footer_list > li {
    margin-bottom: 15px;
}
.li-active {
    color: #3c3775;
    font-weight: 600;
}
.footer-icon {
    font-size: 1.4rem;
    margin-right: 10px;
}
.footer__wrap {
    display: flex;
}
.footer-p1{
    font-size: 1.4rem;
    margin-left: 39px;
}
.footer-p2{
    font-size: 1.4rem;
    margin-left: 111px;
}
/* Scroll_top */
#top-up {
    font-size: 6rem;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    color: var(--red-color);
    bottom: 20px;
    right: 15px;
    display: none;
    }
    #top-up:hover {
    color: var(--hover-color)
    } 
    /* Loading */
    #preloader  {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #fefefe;
        z-index: 99;
    }
   #status  {
        width: 300px;
        height: 200px;
        position: absolute;
        left: 50%;
        top: 50%;
        background-image: url(../img/home/loading.gif);
        background-repeat: no-repeat;
        background-position: center;
        margin: -100px 0 0 -150px;
    }
   
   